.chat-entry {
  display: flex;
  align-items: stretch;
  color: black;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.chat-entry:hover {
  background-color: #f5f5f5;
}

.chat-entry .avatar {
  flex: 0 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 50px;
  margin: 10px;
  width: 50px;
}

.chat-entry .info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #f2f2f2;
  margin-right: 10px;
  min-width: 0;
  padding: 10px 0;
}

.chat-entry .top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-entry .top-row .contact-name {
  font-weight: bold;
}

.chat-entry .top-row .date {
  color: #888;
  font-size: 80%;
}

.chat-entry .bottom-row .message {
  color: #888;
  font-size: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
