.chat-room {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  text-align: left;
}

.chat-room header {
  flex: 0 0 auto;
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.chat-room header .avatar {
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin: 10px;
}

.chat-room .messages {
  flex: 1 1 auto;
  background-color: #e5ddd5;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.chat-room .message {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat-room .message.own {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.chat-room .footer {
  flex: 0 0 auto;
  display: flex;
  background-color: #ededed;
}

.chat-room .footer input {
  flex: 1 1 auto;
  height: 42px;
  background-color: white;
  border-radius: 21px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px 20px;
}
