.chat-list {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.chat-list .my-info {
  flex: 0 0 auto;
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-list .my-info .avatar {
  flex: 0 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 40px;
  margin: 10px;
  width: 40px;
}

.chat-list .my-info .actions {
  margin: 10px;
  color: #888;
}

.chat-list .entries {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}
