.page-dashboard > main {
  display: flex;
  padding: 0 !important;
}

.page-dashboard > main > aside {
  border-right: 1px solid #ccc;
  flex: 0 0 auto;
  min-width: 0;
}

.page-dashboard > main > .dbc {
  flex: 1 1 auto;
  background-color: #f8f9fa;
  padding: 20px;
}
