body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  background: linear-gradient(to bottom, #1ba51b, #f3fff3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page main {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.page main.dialog {
  background-color: rgb(196, 200, 240);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 30vh;
  min-width: 500px;
}

.page main.window {
  height: 80vh;
  width: 1024px;
  max-width: 90vw;
}

form label {
  display: block;
  margin: 5px;
}

form label span {
  display: inline-block;
  text-align: left;
  width: 100px;
}

form label + button {
  margin-top: 10px;
}

p span + a {
  margin-left: 5px;
}

button, .button {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  padding: 8px 12px;
  text-decoration: none;
}

.error {
  color: #800;
}